/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Dangrek&family=Holtwood+One+SC&family=Righteous&family=Roboto+Slab:wght@900&family=Secular+One&family=Sigmar&display=swap');

/* Top CSS rules */

.valise-container {
    display:grid;
    width:75cqw;
    height: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    grid-template-areas:
        "splash-pos . nav"
        ". splash ."
        "panel panel panel";
    position: absolute;
}

.panel {
    grid-area: panel;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position:relative;
    transition: height 3s;
}

/* Splash-level CSS rules */

.splash {
    container-type:inline-size;
    display:inline-flex;
    grid-area: splash;
    grid-column: span 3;
    justify-content: center;
    height:auto;
    z-index: -99;
    transition: 0.5s opacity;
}


.splash-name {
    /* font-weight:bolder; */
    font-family: 'Righteous', cursive;
    font-size: 11.9cqw;
    color:white;
    line-height: 0.8;
    position: relative;
}

.splash-logo-top {
    container-type: inline-size;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
}

.splash-position {
    grid-area: splash-pos;

}

.position-string {
    font-family: 'Dangrek', cursive;
    color:white;
    font-size: 2cqw;
}

/* CSS Splash variable rules */

.splash-closed {
}

.splash-open {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.5em;

}

.block-open {
    width: 45%;

}

.name-open {
    font-size: 4cqh;
}


.logo-open {
    width: 66%;
    align-items:flex-start;
    
}

.position-open {
    font-size: 2cqh;
}


.display-panel {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 0%;
    width: 100%;
    margin:1rem;
    animation-name: slidein;
    animation-duration: 4s;
}

@keyframes slidein {
    from {height: 0;}
    to {height: 100%;}
}


.nav-block {
    grid-area: nav;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding-left: 0px;
    justify-content: end;
    align-items: center;
}

.nav-splash{
    display: inherit;
    animation-name: fade-out
}

.nav-view{
    display:none;
    animation-name: fade-out;
}

@keyframes fade-out {
    from { opacity: 1;
        display: inherit}
    to {opacity: 0;
        display: none;}
}