.valise-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}


.valise-name {
    font-weight:bolder;
    font-size:7em;
    fill:white;
    dominant-baseline: hanging;
}

.splash {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.splash-closed {
    height: 100%;
    justify-content: center;
    transition: width ease-in 0.2s, height ease-in 0.2s;
}

.splash-open {
    height: auto;
    width:50%;
    justify-content: flex-start;
    transition: width ease-in 0.2s, height ease-in 0.2s;
}

.splash-logo {
    justify-items: center;
    width:75%;
    height:auto;
}

.splash-position {
    fill:white;
    font-size: 2rem;
    dominant-baseline: hanging;
}

.splash-portfolio {
    font-weight:bolder;
    fill:white;
    font-size: 2rem;
    text-anchor:end;
    dominant-baseline: hanging;
}


.display-panel {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    width: 100%;
}