.project-card {
    box-shadow: 0px 0px 1px #000000;
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
    padding:10px;
    margin:10px;
    background-color:aliceblue;
}

.project-card:hover {
    box-shadow: 0px 0px 10px darkgoldenrod;
    filter: unset;
  }

.project-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}


.tech-icons {
    width:auto;
    display: flex;
    font-size: 4.5cqw;
    color: white;
    padding: 0.5rem;
}

.footerIcons {
    color: black;
    text-decoration: none;
}

.tech-icons:hover {
    color: yellow;
    stroke: 1px yellowgreen;
    border-radius: 1rem;
    transform: scale(1.1);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.card-image {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    margin: 0%;
    border:#000000;
}


#css {
    color: yellow;
}

.tech-used {
    color:yellow;
    transform: scale(1.1);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.tech-block {
    display: flex;
    justify-content: center;
    width: 100%;
}


.carousel-container {
    height: auto;
    justify-content: center;
}

.carousel {
    /* width: 100%; */
}