.project-block {
    display: flex;
    flex-direction: column;
    background-color:burlywood;
    width: 97%;
}

.project-card {
    display: flex;
    background-color:gray;
    width: 95%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.project-name {
    font-weight: bolder;
}

.project-desc {
    font-family: Arial, Helvetica, sans-serif;
}

.project-screen {
    /* z-index:0; */
    /* position: absolute; */
    /* top:0;
    left:0; */
    height:auto;
    width:40dvh;
    object-fit: contain;
    min-height: 150px;
}

.profile {
    width:auto;
    height:30dvh;
}
