.project-card {
    box-shadow: 0px 0px 1px #000000;
    /* border-radius: 10px;
    border: 2px white solid; */
    cursor: pointer;
    padding:10px;
    margin:10px;
    /* background-color:aliceblue;
    display: inline-block; */
}

.project-card:hover {
    box-shadow: 0px 0px 10px darkgoldenrod;
    filter: unset;
  }

.project-pane {
    grid-area: project-pane;
    width: 100%;
}


.project-cards{
    grid-area: project-pane;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}


.card-image {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    margin: 0%;
    border:#000000;
}


#css {
    color: yellow;
}

.project-tabs {
    width: 100%;
    flex-direction: row-reverse;
}

.navs {
    background: none;
    border: 0;
    width:100%;
    color: white;
    font-size: 1.5rem;
}

.navs a {
    color: white;
}

.navs a:hover {
    color: yellow;
}

.navs a:focus {
    color: yellow;
    background-color: grey;
    transition: width 0.2s linear;
}

.biography h3, .completed h3, .in-progress h3 {
    background: rgba(0,0,0,0.3);
    border-end-end-radius: 1rem;
    width: 100%;
}