.bio-block {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    height: -moz-fit-content;

}

.title-line {
    color: black;
    font-size:large;
    font-weight: bolder;
}

.imager {
    width: 100%;
}

.bio-text {
    grid-area: bio-text;
    margin: 3px;
}

.bio-photos {
    grid-area: bio-photos;
    width:50%;
    margin: auto;
}

.bio-mobile {
    display: flex;
    height: fit-content;
    background-color: rebeccapurple;
    width: 100%;
    justify-content: center;

}
