.menu-true, .menu-false {
    opacity: 0;
    transition: display 1s;
  }

.menu-true .menu-text {
    display: none;
}

.menu-false .menu-text {
    display: block;
}

.menu-false .menu-icon {
  transform: translateX(-10rem);
  opacity: 1;
}

.menu-true .menu-icon {
  transform: translateX(-10rem);
  opacity: 0;
}
