.home-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-left-panel {
    /* grid-column: 1/2; */
}

.home-center-panel {
    grid-column: 1/3;

}

.home-right-panel {
    grid-column: 3/5;
}

.front-option span {
    margin-right: 1rem;
}

.feed {
    border: 3px solid white;
    padding: 1cqw;
    display: grid;
    grid-gap: 1cqw;
}

.feed-block {
    border: 0.1cqw solid black;
    padding:0.25cqw;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.feed-date {
    font-size:small;
    grid-column:4/5;
    grid-row: 1/2;
}

.feed-type {
    grid-column: 1/2;
    grid-row: 2/3;
    /* font-size:xx-large; */
}

.feed-icon {
    vertical-align: unset;
}

.feed-repo {
    font-size:small;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: start;
}

.feed-title {
    font-size: small;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: start;
}

.feed-details {
    grid-column: 2/5;
    grid-row: 3/4;
    font-size: small;
}

.feed-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.feed-tooltiptext {
    font-size:small;
    visibility: hidden;
    width: 120px;
    background-color: color-mix(in lch, var(--panel-back) 50%, transparent);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .feed-type:hover .feed-tooltiptext {
    visibility: visible;
  }

  .menu-icon {
    transform: translateX(-10rem);
    opacity: 0;
  }

  .menu-text {
    opacity: 0;
  }
