.splash {
  display: grid;
  transition: 0.3s;
}
/* 
.splash > * {
  will-change: transform;
} */

.splash-container {
  display:grid;
  container-type: inline-size;
  justify-self: center;
  width: 50vw;
  transition: 0.3s;
}

.splash-welcome {
  grid-template-areas:
  "splash-hello splash-hello . . ."
  "splash-name-1 splash-name-1 splash-name-1 splash-name-2 splash-name-2"
  ". splash-i-am splash-position splash-position splash-position"
  ". . . splash-find splash-nav";
grid-template-columns: 1fr auto auto auto auto;
}

.splash-top {
  grid-template-areas: 
    "splash-hello . splash-i-am . ."
    "splash-name-1 splash-name-2 splash-position splash-position splash-position";
    grid-template-columns: 1fr auto auto auto auto;
    column-gap: 1rem
}
.splash-hello {
  grid-area: splash-hello;
  font-size: 3cqw;
  line-height: 1;
  margin-bottom: -1cqw;
  padding-left: 4cqw;
}
.splash-name-1 {
  grid-area: splash-name-1;
  font-size: 13cqw;
  font-weight: bolder;
  justify-self: start;
  line-height: 1;
}

.splash-name-2 {
  grid-area: splash-name-2;
  font-size: 13cqw;
  font-weight: bolder;
  align-self: end;
  justify-self: end;
  line-height: 1;
}
/* 
.splash-top-sub-box {
  display: grid;
  grid-area: splash-sub-box;
  grid-template-areas: "splash-hello splash-name-2" "splash-name-1 splash-name-2";
} */
.splash-i-am {
  grid-area: splash-i-am;
  justify-self: end;
  font-size: 3cqw;
}

.splash-position {
  grid-area: splash-position;
  font-size: 7cqw;
  justify-self: end;
  line-height: 1;
}

.splash-find {
  grid-area: splash-find;
  font-size: 3cqw;
  display: none;
}

.splash-nav {
  display: none;
  grid-area: splash-nav;
}

.splash-contact {
    grid-area: splash-contact;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}