
/* :root {
    --delay: 0.75s;
} */
/* Splash-level CSS rules */

.splash {
    container-type: inline-size;
    display: grid;
    width: 75cqw;
    grid-area: splash;
    grid-template-areas:
        "splash-box splash-pos";
    justify-items: start;
    justify-content: start;
    align-items: end;
    position: relative;
    height: 100%;
}
.splash-box {
    grid-area: splash-box;
    z-index: -99;
    transition: 0.5s opacity;
}

.splash-name {
    /* font-weight:bolder; */
    font-family: 'Righteous', cursive;
    font-size: 8cqw;
    color:white;
    position: relative;
}

.letters:nth-child(n) {
    animation: move-text 0.6s ease-out;
    animation-delay: var(--delay);
    font-size: 8cqw;
    position: relative;
    opacity: 0;
}

@keyframes move-text {
    0% { bottom: 15em; opacity: 0; }
    50% { bottom: 3em; opacity: 0.8;}
    100% { bottom: 0em; opacity: 1; }
}

.splash-logo-top {
    container-type: inline-size;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
}

.splash-position {
    grid-area: splash-pos;
    text-align:end;

}

.position-string {
    font-family: 'Dangrek', cursive;
    color:white;
    font-size: 2.5cqw;
}

/* CSS Splash variable rules */

.shrink {
    transition: opacity 0.4s linear, display 0.0s linear 0.6s;
    opacity: 0;
    height:0;
}

.grow {
    transition: opacity 0.4s linear 0.4s;
    opacity: 1;
}