.splash {
    display: grid;
    grid-template-areas: "splash-hello"
    "splash-name"
    "splash-i-am"
    "splash-position"
    "splash-find";
}

.splash-hello {
    grid-area: splash-hello;
    justify-self:start;
    font-size: 2cqw;
}
.splash-name {
    grid-area: splash-name;
    font-size: 7cqw;
    font-weight: bolder;
    margin-top: -1rem;

}

.splash-i-am {
    grid-area: splash-i-am;
    justify-self:end;
}

.splash-position {
    grid-area: splash-position;
    font-size: 4cqw;
    justify-self: end;
}

.splash-find {
    grid-area: splash-find;
}