header {
    display: inline-flex;
    width: 97%;
    margin: 5px;
    padding: 10px;
    background-color: darkolivegreen;
    justify-content: space-between
}

#page-title {
    font-weight: bolder;
    font-size: xxx-large;
}
header a {
    text-decoration:none;
    color: aliceblue;
}

header a:hover {
    color: yellowgreen;
}

.nav {
    list-style:none;
    display: inline;
    float: flex-end;
}
.nav-item {
    display: inline;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid black;
    background-color:darkgreen;
}