@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Russo+One&display=swap');

header {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: darkolivegreen;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
}

.page-title {
    margin-left: 1vw;
    font-weight: bolder;
    font-size: 5.5vw;
}
/* header a {
    text-decoration:none;
    color: aliceblue;
}

header a:hover {
    color: yellowgreen;
} */

.nav-bar {
    list-style:none;
    display: inline;
    height: 100%;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.nav-btn {
    display: inline;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    background-color:darkgreen;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25vw;

}

.nav-btn:hover {
    background-color:darkgoldenrod;
    color: black;
    cursor:pointer;
}

.page-title-1 {
    font-family: 'Russo One', sans-serif;
}

.page-title-2 {
    font-family: 'Orbitron', sans-serif;
    color:darkgoldenrod;
}

@media only screen and (max-width: 1030px) {
    header {
        display: flex;
        flex-direction: column;  
    }
    .nav-btn {
        font-size: 2.5vw;
    }
    .nav-bar {
        width: "100%";
    }
  }