@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Russo+One&display=swap');

header {
    display: inline-flex;
    width: 100%;
    padding: 10px;
    background-color: darkolivegreen;
    justify-content: space-between
}

.page-title {
    margin-left: 10px;
    font-weight: bolder;
    font-size: xxx-large;
}
header a {
    text-decoration:none;
    color: aliceblue;
}

header a:hover {
    color: yellowgreen;
}

.nav {
    list-style:none;
    display: inline;
    float: flex-end;
    height: 100%;
    justify-content: flex-end;
}
.nav-btn {
    display: inline;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid black;
    background-color:darkgreen;
}

.page-title-1 {
    font-family: 'Russo One', sans-serif;
    

}

.page-title-2 {
    font-family: 'Orbitron', sans-serif;
    color:darkgoldenrod;
}