.main-box {
  display: grid;
  justify-items: center;
  color: var(--font-col);
  grid-template-columns: auto 1fr;
  /* transition: all 1s; */
  height:100vh;
  padding:3rem;
}

.main-welcome {
  grid-template-areas:
    "splash-main splash-main"
    "portfolio-main portfolio-main";
  padding-top: 25vh;
}

.main-expanded {
  grid-template-areas:
  "bar-left portfolio-main "
}

.bar-left {
  grid-area: bar-left;
  grid-template-areas: "bar-left-splash"
  "bar-left-nav"
  "bar-left-bio";
  display: grid;
  container-type: inline-size;
  grid-template-rows: auto auto auto;
  width: 25vw;
}

.bar-left-splash {
  grid-area: bar-left-splash;
  /* width: 25vw; */
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bar-left-nav {
  grid-area: bar-left-nav;
  display: flex;
  /* justify-content: flex-end;
  flex-direction: column; */
  /* container-type: size; */
  /* height: 100% */
}

.bar-left-bio {
  grid-area: bar-left-bio;
  width: 100%;
}

.portfolio-main {
  grid-area: portfolio-main;
  grid-template-areas:
    "portfolio";
  justify-self: center;
  justify-items: center;
  width: 90%;
  display: grid;
  transition: opacity 3s;
  align-items: start;
  align-content: space-between;
}

