#homeContainer {
    background: darkgrey;
    margin-left: 0%;
    margin-right: 0%;
}

.profile-img {
    width: auto;
    height: 10rem;
}

.profile-card {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
}

svg {
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.stephen {
    font-weight:bolder;
    font-size:8rem;
    margin-left: 1rem;
    color:white;
}

.cardie {
    font-weight:bolder;
    font-size:8rem;
    margin-left: 1rem;
    color: white;
}

.role {
    color:white;
    transform:rotate(45 23 22);
}

.logo {
    display: flex;
    width: 10px;
    height: auto;
    justify-content: center;
}