.panel {
    grid-area: panel;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "display display display";
    width: 100%;
    justify-items: center;
    position:relative;
    transition: height 3s;
}


.display-panel {
    grid-area: display;
    grid-column: span 3;
    display: grid;
    justify-content:center;
}

.portfolio {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        ". back"
        ". project-pane";
}

.about {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". back ."
        "pics bio-block .";
}