.splash {
  display: grid;
  /* transition: 0.3s; */
  grid-area: splash;
  text-shadow: rgb(102, 51, 153) 0 0 10px;
}

.splash-welcome {
  grid-template-areas:
    "splash-hello splash-hello . . ."
    "splash-name-1 splash-name-1 splash-name-1 splash-name-2 splash-name-2"
    ". splash-i-am splash-position splash-position splash-position";
  grid-template-columns: 1fr auto auto auto auto;
  width: 50vw;
}

.splash-top {
  grid-template-areas:
    "splash-hello . ."
    "splash-name-1 splash-name-1 splash-name-2"
    "splash-i-am splash-position splash-position";
  position: relative;
}

.splash-container {
  display: grid;
  container-type: inline-size;
  justify-self: center;
  /* transition: 0.3s; */
}

.splash-hide {
  height: 0vh;
  margin: 0rem;
  /* width: 25vw; */
}

.splash-show {
  opacity: 1;
  /* animation: hide-plans 1s reverse; */
  /* transition: 1s; */
  width: 50vw;
}

.splash-hello {
  grid-area: splash-hello;
  font-size: 3cqw;
  line-height: 1;
  margin-bottom: -1cqw;
  padding-left: 4cqw;
}
.splash-name-1 {
  grid-area: splash-name-1;
  font-size: 13cqw;
  /* font-weight: bolder; */
  justify-self: start;
  line-height: 1;
  font-family: var(--font-marker)
}

.splash-name-2 {
  grid-area: splash-name-2;
  font-size: 13cqw;
  /* font-weight: bolder; */
  align-self: end;
  justify-self: end;
  line-height: 1;
  font-family: var(--font-marker)
}
/* 
.splash-top-sub-box {
  display: grid;
  grid-area: splash-sub-box;
  grid-template-areas: "splash-hello splash-name-2" "splash-name-1 splash-name-2";
} */
.splash-i-am {
  grid-area: splash-i-am;
  justify-self: end;
  font-size: 3cqw;
}

.splash-position {
  grid-area: splash-position;
  font-size: 7cqw;
  justify-self: end;
  line-height: 1;
}

.splash-find {
  grid-area: splash-find;
  font-size: 3cqw;
}

.splash-nav {
  grid-area: splash-nav;
}

.splash-contact {
  grid-area: splash-contact;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.splash-linkblock {
  grid-area: splash-linkblock;
  width: 100%;
  /* border-top: 2px black solid; */
  /* background-color:  var(--block-back); */
  /* padding: 1rem;
  border-radius: 1rem; */
  
}

/* 
@splash-hide {
  0% { opacity: 1;}
  30% { opacity: 0;}
  50% { height: 10vh; width: 30vw}
  70% { height: 0vh; width: 20vw}
} */
