.main-box {
    display:grid;
    justify-items: center;
    color: var(--font-col);
    grid-gap: 3em;
    grid-template-columns: auto 0.5fr 1fr 0.5fr auto;
    transition: all 3s;
}

.main-welcome {
    grid-template-areas: ". splash-main splash-main splash-main . "". . portfolio-heading . ."". portfolio-main portfolio-main portfolio-main .";
    padding-top: 25vh;
}

.main-expanded {
    grid-template-areas: "splash-main splash-main portfolio-heading . ." ". portfolio-main portfolio-main portfolio-main .";
    padding-top: 2vh;

}

.splash-main {
    grid-area: splash-main;
    top: 2;
}
.heading {
    grid-area: portfolio-heading;
    justify-content: center;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    display: inline-flex;
    /* margin-top: 10vh; */
    /* margin-bottom: 10vh; */
    animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        text-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        text-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
		transform: scale(0.95);
		text-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.portfolio-main {
    grid-area: portfolio-main;
    justify-self:start;
    width:100%;
    display:grid;
    transition: opacity 3s;

}