.bio-block {
    display: grid;
    grid-template-areas:
        "bio-text bio-photos"
        ". bio-photos";
    grid-template-columns: 8fr 2fr;
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 0.5em;
    margin-top: 0;
    /* height: fit-content; */
    height: -moz-fit-content;
    /* border-radius: 1rem; */

}

.title-line {
    color: black;
    font-size:large;
    font-weight: bolder;
}

.imager {
    width: 100%;
}


.bio-text {
    grid-area: bio-text;
    margin: 3px;
}

.bio-photos {
    grid-area: bio-photos;
}