.bio-block {
    display: grid;
    grid-template-areas:
        "bio-text bio-photos";
    grid-template-columns: 8fr 2fr;
    /* padding: 20px;
    margin: 10px;
    border-radius: 25px; */
    height: -moz-fit-content;

}

.title-line {
    color: black;
    font-size:large;
    font-weight: bolder;
}

.imager {
    width: 100%;
}

.bio-text {
    grid-area: bio-text;
    margin: 3px;
}

.bio-photos {
    grid-area: bio-photos;
}