/* TOP portfolio classes */

.portfolio {
    display: grid;
    grid-template-areas:
    "portfolio-bio portfolio-bio"
    "portfolio-linkblock portfolio-complete"
    "portfolio-linkblock portfolio-progressives";
    width: 65%;
    justify-self:center;
    grid-template-columns: auto 1fr;
}

.portfolio-block {
    background: var(--block-back);
    color: var(--port-font-col);
    margin: 0.5rem;
    border: 2px black solid;
    border-radius: 1rem;
}

/* portfolio grid subclasses */

.portfolio-linkblock {
    grid-area: portfolio-linkblock;
    width:fit-content;
}

.portfolio-complete {
    grid-area: portfolio-complete;
    grid-template-areas: "complete-title"
    "project";
}

.portfolio-progressive {
    grid-area: portfolio-progressives;
    grid-template-areas: "progressive-title"
    "project";
}

.portfolio-bio {
    grid-area: portfolio-bio;
}

/* title classes */

.title {
    font-size: 2cqw;
}

.bio-title {
    /* placeholder */
}

.tech-title {
    font-size: 1cqw;
}

.complete-title {
    grid-area: complete-title;
    justify-content:flex-end;
    display: flex;
    flex-direction:row;
}

.progressive-title {
    grid-area: progressive-title;
    justify-content: flex-end;
    display: flex;
    flex-direction:row;
}



.projectpanels{
    display: grid;
    width: auto;
}

.project {
    grid-area: project;
}


