.details-view {
    background: rgb(184, 184, 184);
    border-radius: 15px;
    padding: 25px;
    height: 100%;
    max-width: 100%;
}

.link-icons {
    cursor:pointer;
    color:black;
}

.project-title {
    border-bottom: 1px solid black;
    margin: 1rem;
}

.project-descs {
    overflow-y: auto;
}

.project-meat {
    padding: 1rem;
    white-space: pre-line;
    vertical-align: bottom;
}

.project-desc {
    padding-top: 2em;
}

.name-title {
    font-size: 2rem;
    color: black;
    font-weight: bolder;
}

.icon-box {
    justify-content:flex-end;
}

.picture-stack {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    width: 100%
}

.tech-stack {
    border-left: 1px solid black;
}

.card-image {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    margin-bottom: 5%;
    width: 100%
}

.link-icons:hover{
    color:white;
}

.read-more {
    color: black;
    border-radius: 0.5rem;
    background-color: grey;
    cursor: pointer;
    padding: 0.25rem;
    margin: 1rem;
}