.details-view {
    grid-area: details;
    background: rgb(184, 184, 184);
    border-radius: 15px;
    padding: 25px;
    height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 3fr;
    display: grid;
    grid-template-areas:"photo-column project-title project-title"
    "photo-column project-meat tech-stack";
    grid-template-rows: auto 1fr;
    overflow-y: scroll;
}

.details-photo-column {
    grid-area: photo-column;
}

.link-icons {
    cursor:pointer;
    color:black;
}

.link-pics {
    grid-area: link-pics;
}

.project-title {
    container-type: inline-size;
    grid-area: project-title;
    border-bottom: 1px solid black;
    margin: 1rem;
    display: grid;
    grid-template-areas: "name-title link-pics icon-box";
    grid-template-columns: 1fr auto auto;
}

.project-descs {
    overflow-y: auto;
}

.project-meat {
    grid-area: project-meat;
    padding: 1rem;
    white-space: pre-line;
    vertical-align: bottom;
}

.project-desc {
    padding-top: 2em;
}

.name-title {
    grid-area: name-title;
    font-size: 2rem;
    color: black;
    font-weight: bolder;
}

.icon-box {
    justify-content:flex-end;
}

.picture-stack {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    width: 100%
}

.tech-stack {
    grid-area: tech-stack;
    border-left: 1px solid black;
}

.card-image-details {
    object-fit: contain;
    aspect-ratio: 1.5/1;
    margin-bottom: 5%;
}

.card-screenshots {
    object-fit: contain;
    margin-bottom: 5%;
    width: 300px;
}

.link-icons:hover{
    color:white;
}

.read-more {
    color: black;
    border-radius: 0.5rem;
    background-color: grey;
    cursor: pointer;
    padding: 0.25rem;
    margin: 1rem;
}