.nav-block {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items:center;
    flex-direction: row;
}

.nav-open {
    flex-direction: column-reverse;
}

.nav-bar {
    display: inline-flex;
    justify-content:flex-end;
    list-style:none;
    margin-bottom: 0;
}

.link-block {
    container-type: inline-size;
    display: inline-flex;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    justify-content:space-between;
    width:75%;
}

.nav-btn {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-btn:hover {
    color: yellow;
    cursor:pointer;
}

.nav-title {
    font-size: 2cqh;
    color:white;
    font-weight: bold;
}

.link-text {
    vertical-align:top;
    font-size: 2em;
    border: 2px rgba(0,0,0,0) solid;
}

.link-text:hover {
    /* color:yellow; */
    border: 2px rgba(0,0,0,0)  solid;
    text-shadow: 0px 0px 5px yellow;
    cursor: pointer;
}