.nav-bar {
    grid-area: nav-bar;
    display: inline-flex;
    justify-content:flex-end;
    list-style:none;
    margin-bottom: 0;
    padding: 0;
}

.nav-btn {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1cqw;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.nav-btn:hover {
    color: yellow;
    cursor:pointer;
}
.nav-btn:hover .nav-title {
    opacity: 1;
}

.nav-title {
    grid-area: nav-title;
    /* font-size: 2cqw; */
    color:white;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation:sideways;
    margin-top: 1rem;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;

}

@keyframes slide-in {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100%)
    }
}