span {
    color: aliceblue;
    text-decoration: none;    
}

.nav-block {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
}

.nav-btn {
    color: aliceblue;
    text-decoration: none;
    background-color:darkgreen;
}

.nav-btn:hover {
    color: yellow;
    cursor:pointer;
}

.nav-title {
    text-align:end;
    font-size: 2vw;
}